<section class="job-formular">
  <h1>Jobs in die Datenbanken posten</h1>
  <form action="#" method="POST">
    <input type="text" name="firma" id="firma" placeholder="Firma">
    <input type="text" name="position" id="position" placeholder="Position">
    <input type="text" name="von" id="von" placeholder="Von">
    <input type="text" name="bis" id="bis" placeholder="Bis">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <button>Job eintragen</button>
  </form>
</section>